<!DOCTYPE html>
<html>
<head>
    <title></title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <label class="col-sm-1">Order Number</label>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="q.orderNumber" @keyup.enter="query" placeholder="Order Number">
            </div>
            <label class="col-sm-1">Order Status</label>
           <div class="form-group col-sm-2">
               <select class="form-control" v-model="q.orderStatus">
                   <option value="0">All</option>
                   <option value="1">Outstanding</option>
                   <option value="2">Verifying</option>
                   <option value="3">Proceeding Card</option>
                   <option value="4">lssuing</option>
                   <option value="5">lssued</option>
               </select>
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-default" @click="findAll">All</a>

            <#if shiro.hasPermission("sys:order:save")>
            <a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;+Apply</a>
            </#if>

			<!--<#if shiro.hasPermission("sys:order:update")>
            <a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:order:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
      <div class="panel-heading"></div>
     <!--   <form class="form-horizontal">-->

            <label class="col-sm-1">Card Type:</label>
            <div class="form-group col-sm-2">
                <select  class="form-control" v-model="applycard.cardTypeName">
                    <option value="0">Please select</option>
                    <option v-for="cardType in cardTypes">{{cardType.cardTypeName}}</option>
                 </select>
            </div>
            <label class="col-sm-1">Card Total:</label>
            <div class="form-group col-sm-2">
                <input type="text" class="form-control" v-model="applycard.cardTotal" @keyup.enter="query" placeholder="Please enter the number">
            </div>
        <div class="form-group col-sm-2">
            <a class="btn btn-primary" @click="addTable">ADD</a>
        </div>




        <table style="border-style:inherit;border-radius:5px;overflow:hidden;" border="3" class="col-sm-12 panel-heading"  id="addTB">

                    <tr style="height: 40px">
                        <th style="text-align:center;vertical-align:middle">NO</th>
                        <th style="text-align:center;vertical-align:middle">Card Type</th>
                        <th style="text-align:center;vertical-align:middle">Denomination</th>
                        <th style="text-align:center;vertical-align:middle">Total Number Of Cards</th>
                    </tr>

        </table>
        <div class="col-sm-12">
            Total CardValue:{{totalCardValue}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>Amount Of Order</span>:{{}}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>Applican</span>
        </div>




            <!--<div class="form-group">
                        <div class="col-sm-2 control-label">订单号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="applycard.orderNumber" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">状态</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="applycard.orderStatus" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">订单金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="applycard.orderMoney" placeholder=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-2 control-label">支付金额</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="applycard.orderPayMoney" placeholder=""/>
                        </div>
                    </div>
-->
            <div class="form-group col-sm-12">
                <div class="control-label"></div>
               Operate <input type="button" class="btn btn-warning" @click="reload" value="save"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="pay"/>
            </div>
    <!--    </form>-->
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/card/applycard.js?_${.now?long}"></script>
</body>
</html>